.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opciones{
  justify-content: space-between;
}

.containerUsersPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.containerUsers {
  width: 100%;
  height: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.li{
  flex-direction: row;
}

.users{
width: 100%;
  height: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.titleUsers{
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 22rem;
  height: 35rem;
  border: 1px solid #d8d8d8;
  border-radius: 0.4rem;
  padding-left: 2rem;
}

.title {
  color: #d8d8d8;
  margin-bottom: 0.4rem;
  font-size: larger;
}
.label {
  color: #d8d8d8;
  font-size: large;
}

.text {
  margin-top: 2rem;
  color: #f35815;
}

.email {
  font-size: 1rem;
  color: #f35815;
  margin-bottom: 1rem;
}

.input {
  width: 80%;
  height: 2rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #f35815;
  border-radius: 0.4rem;
  outline: none;
  background-color: transparent;
  color: #fff;
}

.button {
  border: 1px solid #f35815;
  background-color: transparent;
  color: #d8d8d8;
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.buttonCrear {
  border: 1px solid #f35815;
  width: 200px;
  background-color: transparent;
  color: #d8d8d8;
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button:hover {
  transform: scale(1.1);
}
.buttonCrear:hover {
  transform: scale(1.1);
}